[Unit]
Description=Chrome Kiosk screen 1
After=graphical-session.target


[Service]
Environment=DISPLAY=:0
ExecStart=/bin/bash -c '/usr/bin/google-chrome --kiosk --new-window --user-data-dir=/home/YOURUSER/.chrome-kiosk1 "https://roboat.tech" & sleep 3 && wmctrl -r ":ACTIVE:" -e 0,0,0,1920,1080'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=graphical-session.target